body {
background-color: #232323;
}

#box{
    width:30%;
    height: 30%;
    background: #ca66c2;
    padding-bottom: 0%;
    margin: 0 auto;
    
}
#container{
    text-align: center;
}
#title{
    background: #ca66c2;
    padding-bottom: 0%;
    margin: 0 auto; 
    width: 35%;
}

#buttons{
    height: 40%;
    width: 50%;
    text-align: center;
    margin : 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
button{
    width: 150px;
    height: 100px;
    background-color: #ca66c2;
    font-weight: bold;
    font-size: 100%
}